    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    
    #map {
        width: 100%;
        height: 90%;
    }

#playButton {
   position:relative;
   z-index:1000;
   height: 50px;
   width: 100px;
   background: #f3f2f3;
   cursor: pointer;
}